@model User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <form asp-controller="Hello" asp-action="Hello">
        <input asp-for="Name"/> 
        <button type="submit"></button>
    </form>
</div>
</body>
</html>